<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The Restaurant catalogue just for you">
        <meta name="theme-color" content="#db0000"/>
        <title>#MyRestoCatalogue</title>
        <link rel="icon" href="public/images/fav/fav_48.png">
        <link rel="apple-touch-icon" href="public/images/fav/fav_196.png">
        <link rel="manifest" href="manifest.json">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    </head>
    <body>
        <a href="#maincontent" class="skip-link">Menuju ke konten</a>
        <header></header>
        <main id="maincontent"></main>
        <footer></footer>
  </body>
</html>
